<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--

    scope：设置bean作用域
    singleton：表示获取的所有bean对象为同一个，IOC容器初始化时创建对象
    prototype：多例获取，每次获取不同对象（会导致添加和修改冲突），获取bean时创建对象

-->
    <bean id="student" class="com.pojo.Student" scope="prototype">

    </bean>

</beans>